* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html {
  font: 1.4em/1.7 "Lato", sans-serif;
  font-weight: 400;
}
body {
  background-image: url(meeting.jpg);
  background-size: cover;
  background-attachment: fixed;
}
section {
  margin: 0 auto;
  padding: 1em 2em 1.5em 2em;
  max-width: 40em;
  min-height: 100%;
  // height: auto;
  color: white;
  background: rgba(0,0,0,0.85);
}

h1 {
  font: 3em/1 "Noticia Text", serif;
  z-index: 100;
  &:before {
    display: block;
    position: relative;
    z-index: 1;
    top: 100%;
    content: '';
    width: 100%;
    height: 0.1em;
    background-color: coral;
  }
}

h2 {
  font: 1.9/1 "Lato", san-serif;
  font-weight: 700;

}

p {
  margin-bottom: 0.5em;
}

/* Button classes */
.button {
  display: inline-block;
  padding: 0.2em 0.5em;
  font: 1.2em/1 "Lato", sans-serif;
  color: coral;
  background: rgba(255,255,255,0.9);
  border: 2px solid coral;
  border-radius: 1em;

  &:hover {
    border: 2px solid white;
    background: rgba(0,0,0,0.2);
    color: white;
  }
}
.button.center {
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  max-width: 100%;
}
#order-form {
  display: inline-block;
  margin: 0 auto;
}
input {
  text-align: center;
  float: left;
  clear: none;
  margin: 12px;
  width: 100;
  height: 2em;
  font-size: 1em;
  border-radius: 0em;
  padding: 0.3em 1em;
  color: white;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid white;
}

#order-submit {
  // clear: both;
  width: 12em;

}

.mile-supplies {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
    margin:0.1em;
    padding:0.8em 1em;
    border: 1px solid grey;
    border-radius: 1em;
    background-color: black;
    color: white;
    &.reward {
      background-color: rgba(100,100,0,0.7);
    }
    em{
      color: coral;
    }
  }
}

// Price Table
#price-table {
  width: 100%;
  margin: 0 0 1em 0;
  th {
    font-family: "Noticia Text", serif;
    color: rgba(255,255,255,0.8);
    // border-bottom: 1px dashed white;
  }
  td {
    text-align: center;
  }
  tr:nth-child(even) {
    background-color: rgba(100,100,100,0.3);
  }
}

/* Helper classes for toggling visibility */
.visible {
  display: block;
  visibility: visible;
}
.hidden {
  display: none;
  visibility: hidden;
}
