html, body {
  margin: 0;
  padding: 0;
}
html {
  font: 1.4em/1.7 serif;
  color: rgba(60,40,40,1);
  background-image: url(meeting.jpg);
  background-size: cover;
}
section {
  margin: 0 auto;
  padding: 1em 0.7em 1.5em 0.7em;
  max-width: 32em;
  background: rgba(255,255,255,0.6);
}
section h1 {
  font: 2em/1 sans-serif;
}
section p {
  text-indent: 2em;
}

/* Button classes */
button {
  display: block;
  padding: 0.2em;
  font: 1.2em/1 sans-serif;
  color: coral;
  background: white;
  border: 2px solid coral;
}
button.center {
  margin: 0 auto;
}

/* Helper classes for toggling visibility */
.visible {
  display: block;
  visibility: visible;
}
.hidden {
  display: none;
  visibility: hidden;
}
